.row {
  max-width: 1140px;
  margin: 0 auto;

  &:not(:first-child) {
    margin-top: $gutter-vertical;
  }

  @include respond(tab-port) {
    max-width: 39rem !important;
    // padding: 0 1rem;
  }

  @include clearfix;
}
[class^="col-"] {
  float: left;

  @include respond(tab-port) {
    width: 100% !important;
  }

  &:not(:first-child) {
    margin-left: $gutter-horizontal;

    @include respond(tab-port) {
      margin-left: 0;
      margin-top: $gutter-vertical;
    }
  }
}

.col- {
  &1-of- {
    &2 {
      width: calc((100% - #{$gutter-horizontal}) / 2);
    }
    &3 {
      width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
    }
    &4 {
      width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
    }
  }
  &2-of- {
    &3 {
      width: calc(
        (((100% - 2 * #{$gutter-horizontal}) / 3) * 2) + #{$gutter-horizontal}
      );
    }
    &4 {
      width: calc(
        (2 * (100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal}
      );
    }
  }
  &3-of- {
    &4 {
      width: calc(
        (3 * (100% - 3 * #{$gutter-horizontal}) / 4) +
          (2 * #{$gutter-horizontal})
      );
    }
  }
}
