.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    padding: 15px 40px;
    text-transform: uppercase;
    border-radius: 100px;
    transition: all 0.2s;
    position: relative;

    // For BUTTON
    border: none;
    cursor: pointer;

    @include respond(phone) {
      padding: 5px 20px;
    }
  }
  &-white {
    background-color: $color-white;
    color: $color-grey;
    display: inline-block;
  }

  &-white::after {
    background-color: $color-white;
  }

  &-green {
    background-color: $green-dark;
    color: $color-white;
    display: inline-block;
  }

  &-green::after {
    background-color: $green-dark;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 7px 7px 0 rgba($color-black, 0.2);
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 3.5px 3.5px 0 rgba($color-black, 0.2);
  }

  &::after {
    content: " ";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100px;
    z-index: -1;
    transition: 0.4s;
  }

  &:hover::after {
    transform: scaleX(1.5) scaleY(2);
    opacity: 0;
  }
  &-animated {
    animation: moveInBottom 1s;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: 1rem;
    text-decoration: none;
    color: $green-dark;
    display: inline-block;
    border-bottom: 1px solid $green-dark;
    padding: 3px;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $green-dark;
    transform: translateY(-2px);
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }

  &:active {
    transform: translateY(0);
  }
}
