.card {
  perspective: 150rem;
  position: relative;
  height: 36rem;

  &_side {
    height: 36rem;
    transition: all 0.8s ease;
    backface-visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: 0rem 1rem 3rem rgba($color-black, 0.15);
    border-radius: 4px;
    overflow: hidden;

    &-front {
      background-color: $color-white;
    }
    &-back {
      transform: rotateY(180deg);

      &-1 {
        background: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }
      &-2 {
        background: linear-gradient(to right bottom, $green-light, $green-dark);
      }
      &-3 {
        background: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
    }
  }

  &:hover &_side-front {
    transform: rotateY(-180deg);
  }
  &:hover &_side-back {
    transform: rotateY(0deg);
  }

  &_photo {
    height: 17rem;
    background-size: cover;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    &-1 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url(../../img/nat-5.jpg);
    }
    &-2 {
      background-image: linear-gradient(
          to right bottom,
          $green-light,
          $green-dark
        ),
        url(../../img/nat-6.jpg);
    }
    &-3 {
      background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        ),
        url(../../img/nat-7.jpg);
    }
  }
  &_heading {
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
    top: 8rem;
    right: 1.2rem;
    width: 75%;
  }

  &_heading-span {
    padding: 0.2rem 1rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    &-1 {
      background-image: linear-gradient(
        to right bottom,
        $color-secondary-light,
        $color-secondary-dark
      );
    }
    &-2 {
      background-image: linear-gradient(
        to right bottom,
        $green-light,
        $green-dark
      );
    }
    &-3 {
      background-image: linear-gradient(
        to right bottom,
        $color-tertiary-light,
        $color-tertiary-dark
      );
    }
  }

  &_text {
    ul {
      list-style: none;
      width: 80%;
      li {
        text-align: center;
        font-size: 1rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }
  &_cta {
    @include ObjectCenter;
    color: $color-white;
    width: 90%;
    text-align: center;
  }
  &_price-box {
    margin-bottom: 6rem;
  }
  &_price-only {
    text-transform: uppercase;
    font-size: 1rem;
  }
  &_price-value {
    font-size: 4rem;
    font-weight: 100;
  }
}
